<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

%>
<div class="order ng-scope">
    <img class="img-aside pizza-icon" alt="Піца" src="<%= pizza.icon %>">
    <p class="bold mb10 ng-scope">
        <%if (pizza[size].size==30){ %>
        <span class="order-title"><%= pizza.title %> (Мала)</span>
        <% } else {%>
        <span class="order-title"><%= pizza.title %> (Велика)</span>
        <%}%>
    </p>
    <div class="order-text">
        <img class="diagonal-image" src="Frontend/www/assets/images/size-icon.svg">
        <span class="diagonal"><%= pizza[size].size%></span>
        <img class="gram-image" src="Frontend/www/assets/images/weight.svg">
        <span class="gram"><%= pizza[size].weight%></span>
    </div>
    <div class="price-box">
        <span class="price"><%= pizza[size].price*quantity%>грн</span>

        <!--<span class="label label-default"></span>-->
        <span class="order-pizza-count" style="color:black;"><%= quantity%></span>

        <a class="count-clear btn btn-xs btn-default btn-circle">
            <i class="glyphicon glyphicon-remove icon-white">
            </i>
        </a>
    </div>
</div>